# Configuração Geral
PROJECT_NAME="RelaxaBarber"
ENV="development"
DEBUG=True

# Conexão com o PostgreSQL
DATABASE_URL="postgresql://usuario:senha@host:porta/nome_do_banco"

# Criptografia e Autenticação
SECRET_KEY="troque-por-uma-chave-secreta-aqui"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]